/* Animation For Bigger screen */
/* 1: Header Animation */
@keyframes header_ani{
    0%{
        translate:0 -100px;
    }
    100%{
        translate: 0 0;
    }
}
header{
    animation: header_ani s 1 linear;
}
/* 2: H1 Animation */
@keyframes h1_ani{
    0%{
        translate: -100px 0;
        color: cyan;
    }
    50%{
        translate: 150px 0;
    }
    70%{
        translate: -150px 0;
    }
    100%{
        translate: 0 0;
    }
}
h1{
    animation: h1_ani 1.5s 1;
}
/* 3: Sub List Animation */
@keyframes li_ani{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}
.sub-list{
     animation: li_ani 0.5s 1 linear;
}
.sub-sub-list{
    animation: li_ani 0.5s 1 linear;
}
/* Animation for smaller screen */
@keyframes list_ani{
    0%{
        translate: -100px 0;
        color: cyan;
    }
    50%{
        translate: 150px 0;
    }
    70%{
        translate: -150px 0;
    }
    100%{
        translate: 0 0;
    }
}
.main-div,.sub-div,.sub-sub-div{
    animation: list_ani 1s 1 linear;
}
/* 2:emoge Animations*/
@keyframes emog{
    0%,100%{
        opacity: 0;
    }
    50%{
        opacity: 1;
    }
}
.imog{
    animation: emog 2.5s infinite linear;
}